GOOGLE_API_KEY="COLE_SUA_GOOGLE_API_KEY_AQUI"
OPENAI_API_KEY="COLE_SUA_OPENAI_API_KEY_AQUI"

# Opcional
GEMINI_MODEL = "gemini-1.5-flash"
OPENAI_MODEL = "gpt-4o-mini"
DB_PATH = "data/app.db"

# Login opcional (se preencher, o app pede login)
ADMIN_USERNAME = "wsdataanalyst"
ADMIN_PASSWORD = "#P161217m"

